<mat-form-field matTooltip="Select Color" class="color-selector">
  <span matPrefix class="dot" [style.background-color]="paletteColor"></span>
  <mat-select (selectionChange)="paletteColorChange()" [(value)]="selectedColor">
    <mat-option style="display: inline-flex !important;" class="text-center" [matTooltip]="color.color"
      *ngFor="let color of colors" [value]="color">
      <span class="dot" [style.background-color]="color.background"></span>
    </mat-option>
  </mat-select>
</mat-form-field>